*{
    margin: 0;
    padding: 0;

    background-color: grey;
}

body{
    height: 100vh;
    width: 100vw;
}

.fila{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px;
    margin-bottom: 10px;
}


#principal{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
    color: rgb(42, 40, 40);
}

.celda{
    width: 70px;
    height: 70px;
    border: 2px solid rgb(11, 14, 16);
    text-transform: uppercase;
    border-radius: 5px;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
}
#secundary{
    margin-top: 5vh;
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
#teclat{
    display: grid;
    grid-template-rows: 40% 40% 40%;
    
}
#ENTER{
    width: 80px;
}
#DEL{
    width: 75px;
}
button{
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 3px;
    background-color: rgba(49, 49, 49, 0.87);
    border: none;
}
button:hover{
    background-color: white;
}
